# ENV_GIT_REPO_NAME is the name of the repo "vhs-themes"
# ENV_GIT_REPO_URL looks like https://github.com/flemay/vhs-themes.git
# ENV_GIT_TOKEN is adeall a GitHub fine-grained personal access token starting with "github_pat_"
# ENV_INPUT_DIR is the dir where the scripts refers files from
# ENV_OUTPUT_DIR is the dir where the scripts will output files to. Note: the default is "output" and it is excluded from git (.gitignore).
# ENV_PAGINATION is the number of records per page. "-1" for all records in a single page
# ENV_THEMES is comma-separated value of vhs themes to use for recording. For all themes, use "all"
# ENV_THEMES_LIMIT is the number of records wanted from ENV_THEMES. Use "-1" for no limit
# ENV_TZ is the timezone to set for the container. Ex: UTC
ENV_GIT_EMAIL
ENV_GIT_NAME
ENV_GIT_REPO_NAME
ENV_GIT_REPO_URL
ENV_GIT_TOKEN
ENV_GIT_USERNAME
ENV_INPUT_DIR=input
ENV_OUTPUT_DIR=output
ENV_PAGINATION
ENV_PUBLISH_BRANCH
ENV_THEMES
ENV_THEMES_LIMIT
ENV_TZ
